@import url(../../variables.css);

.cardStyles {
  max-width: 580px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid var(--dark-borders);
  gap: 30px;
  padding: 26px;
  background-color: var(--light-accent);
  min-height: 200px;
}

.imageBlock {
  padding:
    13,
    5px 0;
}

.imageStyle {
  max-width: 120px;
  max-height: 120px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.topRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 11px 0;
}

.cardTitle {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: var(--medium-text);
}

.priceBlock {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--main-color);
}

.cardDescription {
  padding: 7px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--light-text);
}

.formBlock {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.goodsNumberField {
  padding: 9px 15px;
  max-width: 60px;
  background-color: var(--inputs-color);
  border: 1px solid var(--light-borders);
  border-radius: 6px;
  font-size: 16px;
  line-height: 33px;
  text-align: center;
  appearance: none;
  color: var(--light-text);
}
