.buttonStyles {
  padding: 19px 35px;
  color: white;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  opacity: 1;
  background-color: var(--main-color);
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
  transition: opacity 5s ease;
}

button:disabled {
  border: 1px solid #61728333;
  cursor: not-allowed;
  background-color: transparent;
  color: #222222;
}

.currButton {
  background-color: transparent;
  border: 1px solid #61728333;
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  transition: opacity 5s ease;
}

.cancelButton {
  background-color: transparent;
  border: 1px solid #61728333;
  color: #222222;
}
