@import url(../../variables.css);

.buttonStyles {
  padding: 19px 35px;
  color: white;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  opacity: 1;
  background-color: var(--main-color);
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
  transition: opacity 5s ease;
}

button:disabled {
  border: 1px solid var(--button-borders);
  cursor: not-allowed;
  background-color: transparent;
  color: var(--curr-text);
}

.buttonStyles:hover {
  box-shadow: 0 0 25px var(--main-color);
}

.currButton {
  background-color: transparent;
  border: 1px solid var(--button-borders);
  color: var(--curr-text);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  transition: opacity 5s ease;
}

.inactiveButton {
  background-color: transparent;
  border: 1px solid var(--button-borders);
  color: var(--curr-text);
}

.cancelButton {
  padding: 6px 23px 12px 24px;
  font-size: 24px;
  line-height: 34px;
}

.toggle {
  background-color: transparent;
  border-style: none;
  color: var(--main-color);
  font-size: 16px;
}

.toggle:hover {
  background-color: var(--medium-text);
  box-shadow: 0 0 25px var(--main-oposite);
  color: var(--main-oposite);
}
