.bigButton {
  width: 193px;
  padding: 19px 35px;

  color: white;
  font-family: Inter;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  opacity: 1;
  background-color: var(--main-color);
  border-radius: 6px;
  border-style: none;
}