@import url(../../variables.css);

.liPoint:hover {
  text-decoration: underline;
}

.footerList {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footerLiTitle {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1.5px;
  color: var(--medium-text);
  text-transform: uppercase;
}

.footerUlStyles {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footerLiStyles {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--light-text);
}

.navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.navLink {
  padding: 20px 18px;
  color: var(--dark-link);
}

:global(.active) {
  color: var(--main-color);
}
