@import url(../../variables.css);

.main {
  /*width: 100%;*/
  /*background-image: url('../../assets/triangle.svg');
  background-repeat: no-repeat;
  background-position: center;*/
  background-color: var(--background-light);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 0 140px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  color: var(--medium-text);
}

.container::before {
  background-color: var(--light-accent);
  content: '';
  position: absolute;
  width: 99%;
  height: 200px;
  top: -156px;
  transform: rotate(356deg);
  z-index: -1;
}

.left {
  width: 600px;
  padding: 43px 0;
}

.titleText {
  margin-top: 14px;
  margin: 0;
}

.siteTitle {
  margin: 0;
  font-style: 'normal';
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 4.7px;
}

.paragraphText {
  margin: 34px 67px 53px 0;
}

.paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 24.12px;
  color: var(--light-text);
  letter-spacing: 0.5px;
}

.buttonBlock {
  margin-bottom: 30px;
}

.trustpilotText {
  margin-top: 7px;
  letter-spacing: 0.1px;
}
