@import url(../../variables.css);

.selector {
    padding: 7px 10px;
    background-color: var(--light-accent);
    border: 1px var(--main-color) solid;
    border-radius: 5px;
    color: var(--dark-link)
}

.selectorItem {
    font-size: 16px;
    color: var(--dark-link)
}

.selectorItem:hover {
    background-color: var(--main-color);
}

.selectorItem:checked {
    background-color: var(--main-color);
    color: var(--light-accent)
}