@import url(../../variables.css);

.header {
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: var(--font-fam);
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  letter-spacing: 0%;
}

.right {
  display: flex;
  align-items: center;
  gap: 95px;
}

.navList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.navLink {
  padding: 20px 18px;
  color: #28224B;
}

.navLinkActive {
  color: var(--main-color);
}

.cart {
  padding: 19px 17px 19px 13px;
  background-color: var(--main-color);
  border-radius: 4px
}

.cartImg {
  display: block;
}

.cartBlock {
  position: relative;
}

.numerous {
  position: absolute;
  z-index: 10;
  content: '1'; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  top: -11px;
  right: -11px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  color: var(--main-color);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;

  box-shadow: 7px 7px 25px 0px #7E828F45;

}
