@import url(../../variables.css);

.main {
    background-color: var(--background-blue);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 155px 0 255px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 53px;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}

.container::before {
    background-color: white;
    content: '';
    position: absolute;
    width: 99%;
    height: 200px;
    top: -156px;
    transform: rotate(356deg);
    z-index: -1
}

.title {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 1.65px;
    text-align: center;
    color: var(--main-color);
}