@import url('../../variables.css');

.card {
  max-width: 700px;
  background-color: var(--light-accent);
  border: 1px solid var(--dark-borders);
  border-radius: 6px;
}

.content {
  margin: 40px 68px;
  display: flex;
  flex-direction: column;
}

.userNameRow {
  margin-bottom: 25px;
}

.field {
  width: 430px;
  border-radius: 6px;
  border-width: 1px;
  padding: 10px 17px 9px 17px;
  border: 1px solid var(--light-borders);
  background: var(--inputs-color);
  color: var(--dark-text);
  font-size: 16px;
  line-height: 27px;
}

.row {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

.buttonRow {
  margin-top: 37px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.labels {
  color: var(--medium-text);
}
