@import '../../variables.css';

.main {
  background: var(--background-light);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 140px 0 230px 0;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.container::before {
  background-color: var(--light-accent);
  content: '';
  position: absolute;
  width: 99%;
  height: 200px;
  top: -156px;
  transform: rotate(356deg);
  z-index: -1;
}

.titleStyles {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 1.65px;
  color: var(--main-color);
}

.cardsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.addressBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.addressLine {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.streetLine {
  margin-bottom: 22px;
}

.houseLine {
  margin-bottom: 35px;
}

.addressLabel {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: var(--medium-text);
}

.input {
  max-width: 430px;
  padding: 3px 7px;
  color: var(--light-text);
  background-color: var(--inputs-color);
  border: 1px solid var(--light-borders);
  border-radius: 6px;
}
