/*body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}*/
@import url('variables.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}


a {
  text-decoration: none;
}

span {
  color: var(--main-color)
}
